section.section.section-conditions
	.wrapper.wrapper-conditions
		.conditions-wrapper.about-block-wrapper
			.about-block-wrapper_text
				h2.h2-title.h2-title_conditions.about-title.title-with-decor.left !{aboutConditionsText.title[lang]}
				p.conditions__text.about-text !{aboutConditionsText.text[lang]}
				a(href=linkSignup).btn !{buttonText.btnOpenAcc[lang]}
			.about-block-wrapper_img
				img.about-icon(data-aos="fade" data-aos-delay="450" src=baseDir + "assets/images/conditions-icon.png" alt="conditions")
				img.about-img(data-aos="zoom-in" data-aos-delay="350" src=baseDir + "assets/images/conditions_1x.jpg" srcset=baseDir + "assets/images/conditions_1x.jpg 1x, " + baseDir + "assets/images/conditions_2x.jpg 2x" alt="conditions")
