section.section.section-quality
	.wrapper.wrapper_quality
		.quality-wrapper.about-block-wrapper
			.about-block-wrapper_text.quality-text-block
				h2.h2-title.h2-title_quality.about-title.title-with-decor.left !{aboutQualityText.title[lang]}
				p.quality__text.about-text !{aboutQualityText.text[lang]}
				a(href=linkSignup).btn.btn-about !{buttonText.btnOpenAcc[lang]}
			.about-block-wrapper_img.quality-text-img
				img.about-img(data-aos="zoom-in" data-aos-delay="350" src=baseDir + "assets/images/quality_1x.jpg" srcset=baseDir + "assets/images/quality_1x.jpg 1x, " + baseDir + "assets/images/quality_2x.jpg 2x" alt="quality")
				img.about-icon.quality-icon(data-aos="fade" data-aos-delay="450" src=baseDir + "assets/images/quality-icon.png" alt="conditions")
