section.section.section-goals.section_grey-2
	.decor
		.wrapper_decor.wrapper
			.decor-item.decor-item_goals-1(data-aos="fade" data-aos-delay="450")
			.decor-item.decor-item_goals-2(data-aos="fade" data-aos-delay="550")
	.wrapper.wrapper_goals
		.goals-img-wrapper
			img.goals-img(data-aos="fade" data-aos-delay="350" src=baseDir + "assets/images/goals-decor.png" alt="goals img")
		.goals-content-wrapper
			h2.h2-title.h2-title_goals.left.color-white !{aboutGoalsText.h2[lang]}
			.goals-list
				.goals-list__item.goals-list__item_1
					h3.goals-list__title.h3-title.left !{aboutGoalsText.goal1.title[lang]}
					p.goals-list__text.left.color-white !{aboutGoalsText.goal1.text[lang]}
				.goals-list__item.goals-list__item_2
					h3.goals-list__title.h3-title.left !{aboutGoalsText.goal2.title[lang]}
					p.goals-list__text.left.color-white !{aboutGoalsText.goal2.text[lang]}
