section.section.section-platform
	.wrapper.wrapper_platform
		h2.h2-title.h2-title_platform.left !{aboutPlatformText.title[lang]}
		p.platform-text.text-ver-2 !{aboutPlatformText.text[lang]}
		.platform-wrapper(class="platform-wrapper_" + lang)
			.platform-row.platform-row_1
				.platform-title(data-aos="fade-in" data-aos-delay="300") !{aboutPlatformText.advantage1[lang]}
				.platform-title(data-aos="fade-in" data-aos-delay="450") !{aboutPlatformText.advantage2[lang]}
				.platform-title(data-aos="fade-in" data-aos-delay="600") !{aboutPlatformText.advantage3[lang]}
				.platform-title(data-aos="fade-in" data-aos-delay="750") !{aboutPlatformText.advantage4[lang]}
			.platform-row.platform-row_2
				.platform-title(data-aos="fade-in" data-aos-delay="300") !{aboutPlatformText.advantage5[lang]}
				.platform-title(data-aos="fade-in" data-aos-delay="450") !{aboutPlatformText.advantage6[lang]}
				.platform-title(data-aos="fade-in" data-aos-delay="600") !{aboutPlatformText.advantage7[lang]}
		a(href=linkSignup).btn.btn-platform !{buttonText.btnStartTrade[lang]}
