section.section.section-history
	.wrapper.wrapper-history
		h2.h2-title.h2-title_history.left !{aboutHistoryText.h2[lang]}
		.history-list.history-list-js
			.history-list-item-wrapper.history-list-item-wrapper_1
				h3.h3-title.history-list__title !{aboutHistoryText.year1.title[lang]}
				p.history-list__text !{aboutHistoryText.year1.text[lang]}
				.year.h3-title 2019 !{year[lang]}
			.history-list-item-wrapper.history-list-item-wrapper_2
				h3.h3-title.history-list__title !{aboutHistoryText.year2.title[lang]}
				p.history-list__text !{aboutHistoryText.year2.text[lang]}
				.year.h3-title 2020 !{year[lang]}
			.history-list-item-wrapper.history-list-item-wrapper_3
				h3.h3-title.history-list__title !{aboutHistoryText.year3.title[lang]}
				p.history-list__text !{aboutHistoryText.year3.text[lang]}
				.year.h3-title 2021 !{year[lang]}
			.history-list-item-wrapper.history-list-item-wrapper_4
				h3.h3-title.history-list__title !{aboutHistoryText.year4.title[lang]}
				p.history-list__text !{aboutHistoryText.year4.text[lang]}
				.year.h3-title 2022 !{year[lang]}
		.navigation-wrapper.navigation-wrapper_history
			//.slide-number-wrapper.slide-number-wrapper_history
			//	.number-slider.current-slide
			//	.number-slider.number-of-slides
			//.dots-wrapper.dots-wrapper-history-init-js.dots-wrapper_history.clip-path
			.arrow-wrapper.arrow-wrapper-history-init-js.arrow-wrapper_history
