mixin marketsInstrumentsList()
    .markets-list.markets-list-js
        .markets-list__item.markets-list__item-1
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="currencies.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-1.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market1.title[lang]}
                        p.markets-list__text !{marketsListText.market1.text[lang]}
        .markets-list__item.markets-list__item-2
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="metals.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-2.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market2.title[lang]}
                        p.markets-list__text !{marketsListText.market2.text[lang]}
        .markets-list__item.markets-list__item-3
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="stocks.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-3.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market3.title[lang]}
                        p.markets-list__text !{marketsListText.market3.text[lang]}
        .markets-list__item.markets-list__item-4
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="commodities.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-4.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market4.title[lang]}
                        p.markets-list__text !{marketsListText.market4.text[lang]}
        .markets-list__item.markets-list__item-5
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="indices.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-5.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market5.title[lang]}
                        p.markets-list__text !{marketsListText.market5.text[lang]}
        .markets-list__item.markets-list__item-6
                .markets-content-wrapper
                    .markets-list__btns
                        a(href=linkSignup).btn.btn-markets-list  !{buttonText.btnStartTrade[lang]}
                        a(href="cryptocurrencies.html").btn.btn_not-bg !{buttonText.btnLearMore[lang]}
                    .markets-img-wrapper
                        img(src=baseDir + "assets/images/markets-list-item-6.png" alt="markets-list-item")
                    .markets-content-wrapper
                        h3.markets-list__title.h3-title !{marketsListText.market6.title[lang]}
                        p.markets-list__text !{marketsListText.market6.text[lang]}
