section.section.section-docs
    .wrapper.wrapper-docs
        h2.h2-title.h2-title_docs.h2-title_max-width !{indexDocumentsText.h2[lang]}
        p.text_docs !{indexDocumentsText.text[lang]}
        .docs-list
            .docs-list__item(data-aos="fade-up" data-aos-delay="300")
                .icon-wrapper.icon-wrapper_docs(data-aos="zoom-in" data-aos-delay="450")
                    .icon.icon_docs
                h3.h3-title.h3-title_docs.center !{documentsItemText.riskDisclosureNotice[lang]}
                a.btn(href= lang=="ru" ? '/docs/risk_disclosure_notice_ru.html' : '/docs/risk_disclosure_notice.html' target="_blank") !{read[lang]}
            .docs-list__item(data-aos="fade-up" data-aos-delay="450")
                .icon-wrapper.icon-wrapper_docs(data-aos="zoom-in" data-aos-delay="600")
                    .icon.icon_docs
                h3.h3-title.h3-title_docs.center !{documentsItemText.antiMoneyLaundering[lang]}
                a.btn(href= lang=="ru" ? '/docs/anti_money_laundering_ru.html' : '/docs/anti_money_laundering.html' target="_blank") !{read[lang]}
            .docs-list__item(data-aos="fade-up" data-aos-delay="600")
                .icon-wrapper.icon-wrapper_docs(data-aos="zoom-in" data-aos-delay="750")
                    .icon.icon_docs
                h3.h3-title.h3-title_docs.center !{documentsItemText.privacyPolicy[lang]}
                a.btn(href= lang=="ru" ? '/docs/privacy_policy_ru.html' : '/docs/privacy_policy.html' target="_blank") !{read[lang]}
            .docs-list__item(data-aos="fade-up" data-aos-delay="750")
                .icon-wrapper.icon-wrapper_docs(data-aos="zoom-in" data-aos-delay="800")
                    .icon.icon_docs
                h3.h3-title.h3-title_docs.center !{documentsItemText.conflictofInterestPolicy[lang]}
                a.btn(href= lang=="ru" ? '/docs/conflict_of_interest_policy_statement_ru.html' : '/docs/conflict_of_interest_policy_statement.html' target="_blank") !{read[lang]}
