section.section.section_grey.section-steps
	.decor
		.wrapper_decor.wrapper
			.decor-item.decor-item_steps-1(data-aos="fade" data-aos-delay="300")
			.decor-item.decor-item_steps-2(data-aos="fade" data-aos-delay="300")
	.wrapper.wrapper-steps
		h2.h2-title.h2-title_steps !{indexStepsText.h2[lang]}
		.steps-list
			.steps-list-item.steps-list__item-1(data-aos="fade-in" data-aos-delay="300")
				.steps-number.text-ver-2.center !{stepText[lang]} 1
				h3.steps-list__title.center.h3-title !{indexStepsText.step1.title[lang]}
				p.steps-list__text.center !{indexStepsText.step1.text[lang]}
			.steps-list-item.steps-list__item-2(data-aos="fade-in" data-aos-delay="450")
				.steps-number.text-ver-2.center !{stepText[lang]} 2
				h3.steps-list__title.center.h3-title !{indexStepsText.step2.title[lang]}
				p.steps-list__text.center !{indexStepsText.step2.text[lang]}
			.steps-list-item.steps-list__item-3(data-aos="fade-in" data-aos-delay="600")
				.steps-number.text-ver-2.center !{stepText[lang]} 3
				h3.steps-list__title.center.h3-title !{indexStepsText.step3.title[lang]}
				p.steps-list__text.center !{indexStepsText.step3.text[lang]}
		a(href=linkSignup).btn-center.btn.btn_accounts !{buttonText.btnStartTrade[lang]}
