section.section.section_online-consult.section_grey-2
    .decor.svg-animate
        .wrapper.wrapper_decor
            .decor-item.decor-item_online-consult-1(data-aos="fade" data-aos-delay="350")
                | <svg width="80" height="40" viewBox="0 0 80 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M40 -3.8147e-06L80 -2.06624e-06L40 40L40 -3.8147e-06Z" fill="#B60435"/>
                | <path d="M1.74846e-06 -3.8147e-06L40 -2.06624e-06L40 40L1.74846e-06 -3.8147e-06Z" fill="#B60435"/>
                | </svg>
            .decor-item.decor-item_online-consult-2(data-aos="fade" data-aos-delay="450")
                | <svg width="168" height="536" viewBox="0 0 168 536" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <rect width="168" height="168" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168.001 368)" fill="#E06654"/>
                | <rect width="84" height="168" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 84.001 368)" fill="#7B0A57"/>
                | <rect width="84" height="84" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168.001 452)" fill="#B40534"/>
                | <circle cx="104" cy="516" r="4" transform="rotate(-90 104 516)" fill="white"/>
                | <circle cx="104" cy="494" r="4" transform="rotate(-90 104 494)" fill="white"/>
                | <circle cx="104" cy="472" r="4" transform="rotate(-90 104 472)" fill="white"/>
                | <circle cx="126" cy="516" r="4" transform="rotate(-90 126 516)" fill="white"/>
                | <circle cx="126" cy="494" r="4" transform="rotate(-90 126 494)" fill="white"/>
                | <circle cx="126" cy="472" r="4" transform="rotate(-90 126 472)" fill="white"/>
                | <circle cx="148" cy="516" r="4" transform="rotate(-90 148 516)" fill="white"/>
                | <circle cx="148" cy="494" r="4" transform="rotate(-90 148 494)" fill="white"/>
                | <circle cx="148" cy="472" r="4" transform="rotate(-90 148 472)" fill="white"/>
                | <path d="M168.001 452L84.001 452C84.001 405.609 121.609 368 168.001 368L168.001 452Z" fill="#B50334"/>
                | <path d="M168.001 420L148.001 420C141.374 420 136.001 425.373 136.001 432L136.001 452L168.001 452L168.001 420Z" fill="#0E3347"/>
                | <path d="M168.001 452L120.001 452C120.001 425.491 141.491 404 168.001 404L168.001 452Z" fill="#0E3347"/>
                | <rect width="84" height="168" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168 200)" fill="#E06654"/>
                | <rect width="84" height="168" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 84.0005 200)" fill="#7B0A57"/>
                | <circle cx="104" cy="48.0005" r="4" transform="rotate(-90 104 48.0005)" fill="#FFAA1B"/>
                | <circle cx="104" cy="26.0005" r="4" transform="rotate(-90 104 26.0005)" fill="#FFAA1B"/>
                | <circle cx="104" cy="4.00049" r="4" transform="rotate(-90 104 4.00049)" fill="#FFAA1B"/>
                | <circle cx="126" cy="48.0005" r="4" transform="rotate(-90 126 48.0005)" fill="#FFAA1B"/>
                | <circle cx="126" cy="26.0005" r="4" transform="rotate(-90 126 26.0005)" fill="#FFAA1B"/>
                | <circle cx="126" cy="4.00049" r="4" transform="rotate(-90 126 4.00049)" fill="#FFAA1B"/>
                | <circle cx="148" cy="48.0005" r="4" transform="rotate(-90 148 48.0005)" fill="#FFAA1B"/>
                | <circle cx="148" cy="26.0005" r="4" transform="rotate(-90 148 26.0005)" fill="#FFAA1B"/>
                | <circle cx="148" cy="4.00049" r="4" transform="rotate(-90 148 4.00049)" fill="#FFAA1B"/>
                | <path d="M0.000961875 200L168.001 200C168.001 107.217 92.7848 32.0005 0.000976562 32.0005L0.000961875 200Z" fill="#92BAB3"/>
                | <path d="M0.000969219 200L84.001 200C84.001 153.609 46.3929 116 0.000976562 116L0.000969219 200Z" fill="#B1CDC7"/>
                | </svg>
            .decor-item.decor-item_online-consult-3(data-aos="fade" data-aos-delay="450")
                | <svg width="168" height="368" viewBox="0 0 168 368" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <rect width="168" height="168" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168 200)" fill="#0E3347"/>
                | <rect width="168" height="84" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168 284)" fill="#B1CDC7"/>
                | <rect width="84" height="84" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 168 284)" fill="#92BAB3"/>
                | <rect width="84" height="84" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 84 284)" fill="#B1CDC7"/>
                | <path d="M-7.34351e-06 284L168 284C168 237.608 130.392 200 84 200C37.6081 200 -3.2878e-06 237.608 -7.34351e-06 284Z" fill="#B1CDC7"/>
                | <path d="M84 284L168 284C168 237.608 130.392 200 84 200L84 284Z" fill="#92BAB3"/>
                | <path d="M84 284L-7.34351e-06 284C-3.2878e-06 237.608 37.6081 200 84 200L84 284Z" fill="#B1CDC7"/>
                | <rect width="64" height="64" rx="12" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 116 252)" fill="#0E3347"/>
                | <path d="M168 200L-1.4687e-05 200C-6.57561e-06 107.216 75.2162 32 168 32L168 200Z" fill="#B60435"/>
                | <path d="M168 200L84 200C84 153.608 121.608 116 168 116L168 200Z" fill="#E06654"/>
                | <circle cx="104" cy="4" r="4" fill="#C51934"/>
                | <circle cx="126" cy="4" r="4" fill="#C51934"/>
                | <circle cx="148" cy="4" r="4" fill="#C51934"/>
                | </svg>
    .wrapper.wrapper_online-consult
        .online-consult-wrapper
            .online-consult-row.online-consult-row_1
                h2.h2-title.color-white.h2-title_online-consult.left !{indexCallbackText.h2[lang]}
                p.color-white.prex-text-online-consult.text-ver-2.left !{indexCallbackText.text1[lang]}
                p.color-white.text-online-consult !{indexCallbackText.text2[lang]}
            .online-consult-row.online-consult-row_2
                form.consult-form#online-consult-form(method="post")
                    .form-item
                        label.input-wrapper.input-wrapper_user
                            span.label-form !{formsText.labelName[lang]}
                            input.form-input(type="text" required name="first_name" minlength="2" maxlength="30" placeholder= formsText.placeholderName[lang])
                    .form-item-wrapper
                        .form-item
                            label.input-wrapper.input-wrapper_phone
                                span.label-form !{formsText.labelPhone[lang]}
                                input.form-input(type="tel" required name="phone_number" minlength="7" maxlength="50" placeholder= formsText.placeholderPhone[lang])
                        .form-item
                            label.input-wrapper.input-wrapper_email
                                span.label-form !{formsText.labelMail[lang]}
                                input.form-input(type="email" required name="email" placeholder= formsText.placeholderEmail[lang])
                    .form-item
                        label.input-wrapper.input-wrapper_text
                            span.label-form !{textareaText.labelUserText[lang]}
                            textarea.form-input.form-input_textarea(name="user_text" placeholder= textareaText.placeholderUserText[lang])
                    .form-item.form-item_btn-online-consult
                        button.btn.btn_online-consult.btn-submit(type="submit") !{sendButton[lang]}
                    input(type="hidden" name="name_page" value="Главная")
