section.section.section_earnings
    .wrapper.wrapper_earnings
        .earnings-wrapper.svg-animate
            .earnings-icons(data-aos="fade" data-aos-delay="450")
                | <svg width="168" height="504" viewBox="0 0 168 504" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0 168H168V336L0 168Z" fill="white"/>
                | <path d="M168 0V168H0L168 0Z" fill="white"/>
                | <path d="M0 336H168L0 168V336Z" fill="#0B3248"/>
                | <path d="M0 0H168L0 168V0Z" fill="white"/>
                | <path d="M0 0H168L84 84L0 0Z" fill="#FFAA1B"/>
                | <path d="M7.34351e-06 168L0 0L84 84L7.34351e-06 168Z" fill="#851B5A"/>
                | <rect y="336" width="168" height="168" fill="#0B3248"/>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M0 504C92.7838 504 168 428.784 168 336H0V504Z" fill="#FFAA1B"/>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M0 432C53.0193 432 96 389.019 96 336H0V432Z" fill="#851B5A"/>
                | <circle cx="130" cy="112" r="10" fill="#FFAA1B"/>
                | <circle r="10" transform="matrix(1 0 0 -1 130 240)" fill="#FFAA1B"/>
                | <circle cx="98" cy="144" r="10" fill="#FFAA1B"/>
                | <circle r="10" transform="matrix(1 0 0 -1 98 208)" fill="#FFAA1B"/>
                | <circle cx="66" cy="176" r="10" fill="#C4C4C4"/>
                | <circle r="10" transform="matrix(1 0 0 -1 66 176)" fill="#FFAA1B"/>
                | <path d="M167.598 128V207.196L128 167.598L167.598 128Z" fill="#B0CCC8"/>
                | </svg>
            .earnings-img-wrapper
                img(class="earnings-img" src=baseDir + "assets/images/earnings-img_1x.jpg" srcset=baseDir + "assets/images/earnings-img_1x.jpg 1x, " + baseDir + "assets/images/earnings-img_2x.jpg 2x" alt="earnings-img" data-aos="zoom-in" data-aos-delay="350")
            .earnings-text-block
                h2.h2-title.title-with-decor.h2-title_earnings.left !{indexPlatformText.h2[lang]}
                p.earnings-text.text-ver-3 !{indexPlatformText.text[lang]}
                a(href=linkSignup).btn.btn_earnings !{buttonText.btnOpenAcc[lang]}

