section.section.section-licenses
	.wrapper.wrapper_licenses
		.licenses-list.licenses-list-js
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-1.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license1.title[lang]}
					p.licenses-list__text !{licensesListText.license1.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-2.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license2.title[lang]}
					p.licenses-list__text !{licensesListText.license2.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-3.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license3.title[lang]}
					p.licenses-list__text !{licensesListText.license3.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-4.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license4.title[lang]}
					p.licenses-list__text !{licensesListText.license4.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-5.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license5.title[lang]}
					p.licenses-list__text !{licensesListText.license5.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-6.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license6.title[lang]}
					p.licenses-list__text !{licensesListText.license6.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-7.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license7.title[lang]}
					p.licenses-list__text !{licensesListText.license7.text[lang]}
			.licenses-list__item
				.licenses-list-item-wrapper
					.licenses-img-wrapper
						img.licenses-img(src=baseDir + "assets/images/licenses-img-8.png" alt="licenses")
					h3.h3-title.licenses-list__title !{licensesListText.license8.title[lang]}
					p.licenses-list__text !{licensesListText.license8.text[lang]}
		.navigation-wrapper.navigation-wrapper_licenses
			//.slide-number-wrapper.slide-number-wrapper_licenses
			//	.number-slider.current-slide
			//	.number-slider.number-of-slides
			//.dots-wrapper.dots-wrapper-licenses-init-js.dots-wrapper_licenses.clip-path
			.arrow-wrapper.arrow-wrapper-licenses-init-js.arrow-wrapper_licenses
